<div class="jumbotron bg-white text-center">

  <h1 class="display-4">COVID-19 Tracker Country-wise</h1>
  <hr class="my-4">
  <div class="form-group col-lg-5 mx-auto">
    <label for="country">Please select a country to view data</label>
    <select name="" class="form-control" id="country" #input (change)='updateValue(input.value)'>
      <option value="{{country}}" *ngFor='let country of countries'>{{country}}</option>
    </select>
  </div>

  <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalDeaths]='totalDeaths'
    [totalRecovered]='totalRecovered'></app-dashboard-card>

  <div class="row" *ngIf="loaded">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>S no.</th>
            <th>Date</th>
            <th>Cases</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor='let cs of selectedCountryData; index as i '>
            <td>{{i+1}}</td>
            <td>{{cs.date | date}}</td>
            <td>{{cs.cases}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
</div>